In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# loading csv file

In [2]:
df=pd.read_csv('price.csv')
x=df[['Price']]
x

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

# minmax_scaler

In [3]:
scaler=MinMaxScaler()

In [4]:
df['MinMaxScaler']=scaler.fit_transform(df[['Price']])

In [5]:
df

   Price  MinMaxScaler
0    110           0.2
1    105           0.1
2    115           0.3
3    120           0.4
4    110           0.2
5    130           0.6
6    150           1.0
7    100           0.0
8    105           0.1

# StandardScaler

In [6]:
from sklearn.preprocessing import StandardScaler
scaler_1=StandardScaler()
df['StanderScaler']=scaler_1.fit_transform(x)
df

   Price  MinMaxScaler  StanderScaler
0    110           0.2      -0.416356
1    105           0.1      -0.757011
2    115           0.3      -0.075701
3    120           0.4       0.264954
4    110           0.2      -0.416356
5    130           0.6       0.946264
6    150           1.0       2.308884
7    100           0.0      -1.097666
8    105           0.1      -0.757011

# Robust scaler

In [7]:
from sklearn.preprocessing import RobustScaler

In [8]:
scaler_3=RobustScaler()
df['RobustScaler']=scaler_3.fit_transform(x)

# Log Transform

In [9]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

sceler_4=FunctionTransformer(np.log1p)
df['Log']=sceler_4.fit_transform(x)
df

   Price  MinMaxScaler  StanderScaler  RobustScaler       Log
0    110           0.2      -0.416356      0.000000  4.709530
1    105           0.1      -0.757011     -0.333333  4.663439
2    115           0.3      -0.075701      0.333333  4.753590
3    120           0.4       0.264954      0.666667  4.795791
4    110           0.2      -0.416356      0.000000  4.709530
5    130           0.6       0.946264      1.333333  4.875197
6    150           1.0       2.308884      2.666667  5.017280
7    100           0.0      -1.097666     -0.666667  4.615121
8    105           0.1      -0.757011     -0.333333  4.663439

# box cox

In [10]:
from scipy.stats import boxcox

In [15]:
x_=(df['Price']+1)
df['box_cox'], _ =boxcox(x_)

In [16]:
df

   Price  MinMaxScaler  StanderScaler  RobustScaler       Log   box_cox
0    110           0.2      -0.416356      0.000000  4.709530  0.223686
1    105           0.1      -0.757011     -0.333333  4.663439  0.223686
2    115           0.3      -0.075701      0.333333  4.753590  0.223686
3    120           0.4       0.264954      0.666667  4.795791  0.223686
4    110           0.2      -0.416356      0.000000  4.709530  0.223686
5    130           0.6       0.946264      1.333333  4.875197  0.223686
6    150           1.0       2.308884      2.666667  5.017280  0.223686
7    100           0.0      -1.097666     -0.666667  4.615121  0.223686
8    105           0.1      -0.757011     -0.333333  4.663439  0.223686

In [17]:
from sklearn.preprocessing import MaxAbsScaler

In [19]:
scaler_6=MaxAbsScaler()
x=df[['Price']]
df['MaxAbsScaler']=scaler_6.fit_transform(x)
df

,Price,MinMaxScaler,StanderScaler,RobustScaler,Log,box_cox,MaxAbsScaler
0,110,0.2,-0.416356,0.000000,4.709530,0.223686,0.733333
1,105,0.1,-0.757011,-0.333333,4.663439,0.223686,0.700000
2,115,0.3,-0.075701,0.333333,4.753590,0.223686,0.766667
3,120,0.4,0.264954,0.666667,4.795791,0.223686,0.800000
4,110,0.2,-0.416356,0.000000,4.709530,0.223686,0.733333
5,130,0.6,0.946264,1.333333,4.875197,0.223686,0.866667
6,150,1.0,2.308884,2.666667,5.017280,0.223686,1.000000
7,100,0.0,-1.097666,-0.666667,4.615121,0.223686,0.666667
8,105,0.1,-0.757011,-0.333333,4.663439,0.223686,0.700000

In [21]:
df.to_csv('Scaling Techniques.csv')